<div class="card mb-4 shadow-sm">
    <div class="row no-gutters">
        <div class="col-md-4 d-flex align-items-center justify-content-center">
            <img src="{{ exp.organization_logo }}" class="card-img" alt="{{ exp.organization_name }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">{{ exp.role }}</h3>
                <h5 class="card-subtitle mb-2 text-muted">{{ exp.organization_name }}</h5>
                <p class="card-text"><strong>Duration:</strong> {{ exp.work_duration }}</p>
                <p class="card-text"><strong>Supervisor:</strong> {{ exp.supervisor }}</p>
                <p class="card-text">{{ exp.work_description }}</p>
            </div>
        </div>
    </div>
</div>
