<div class="persona-entry">
    <img src="{{ experience.organization_logo }}" class="persona-entry__logo" alt="{{ experience.organization_name }}">
    <div class="persona-entry__body">
        <div class="persona-entry__top">
            <div>
                <h3 class="persona-entry__role">{{ experience.role }}</h3>
                <p class="persona-entry__org">{{ experience.organization_name }}</p>
            </div>
            <span class="persona-entry__date">{{ experience.work_duration }}</span>
        </div>
        <p class="persona-entry__meta">
            <span class="persona-tag">{{ experience.experience_type }}</span>
            {{#experience.supervisor}}<span>&nbsp;&middot;&nbsp; Reporting to {{ experience.supervisor }}</span>{{/experience.supervisor}}
        </p>
        <p class="persona-entry__desc">{{ experience.work_description }}</p>
    </div>
</div>
