<div class="persona-card d-flex flex-column">
    <h4 class="persona-card__title">{{ project.project_name }}</h4>
    <span class="persona-card__date mb-2">{{ project.project_duration }}</span>
    <ul class="persona-meta-list">
        {{#project.project_guide}}<li><i class="bi bi-person-workspace" aria-hidden="true"></i>{{ project.project_guide }}</li>{{/project.project_guide}}
        {{#project.team_size}}<li><i class="bi bi-people-fill" aria-hidden="true"></i>Team of {{ project.team_size }}</li>{{/project.team_size}}
    </ul>
    <p class="persona-card__desc">{{ project.description }}</p>
    <div class="persona-card__tags mt-auto">
        {{#project.language_used}}<span class="persona-tag">{{ project.language_used }}</span>{{/project.language_used}}
    </div>
    {{#project.technology_used}}<p class="persona-entry__meta mt-2 mb-0"><i class="bi bi-tools" aria-hidden="true"></i>&nbsp; {{ project.technology_used }}</p>{{/project.technology_used}}
</div>
